   
<% if !logged_in? %>

<section class="banner">
    <div class="notice">
        <p> Bà con sáng ra muốn ăn hàng? Mời vào chợ xem hàng xôi nhà bác May và bún cá nhà bác Hoa.</p>
        <p> Lịch hội làng: </p>
        <ul>
            <li> Cắm trại: 30/6. </li>
            <li>Đua thuyền: Ra giêng</li>
        </ul>
    </div>
    <div class="once">
        <p>Mụ gà nhảy ổ nhà bà con mới đẻ chục trứng? Mời bà con đăng bán luôn: </p>
        <%= form_for(:postonce, :url => {:controller=>"postonces",:action=>"create"}) do |f| %>
        <%= f.text_area :content, placeholder: "Tên bà con, giá tiền, điện thoại để người ta gọi.." %>
        <%= f.label :picture, "Hình sản phẩm" %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'file'  %>
        <%= f.submit "Đăng sản phẩm", class: 'btn btn-primary' %>
        <% end %>
    </div>
    <div class="login">
      <div class="row">
        <div class="col-md-12">
            <p> Nếu bà con tính đăng bán lâu dài, mời 
                <%= link_to "Đăng ký", signup_path %>. </p>
                <p> Nếu bà con đã có tài khoản, mời đăng nhập:</p>
                <%= form_for(:session, :url=>{:controller=>"sessions",:action=>"create"}) do |f| %>
                <%= f.label :email %>
                <%= f.text_field :email, class: 'form-control' %>
                <%= f.label :password, "Mật khẩu" %> 
                <%= f.password_field :password, class: 'form-control' %>
                <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>Ghi nhớ tôi</span>
                <% end %>
                <%= f.submit "Đăng nhập", class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
</section>
<% end %>
<section class="hot-products">
    <h2> Tôm tươi  </h2>
    <div class="homefeed">
        <% if !logged_in? %>
        <% user = User.find_by(admin: true) %>
        <% @feed_items = (user ? user.feed : []) + Postonce.all %>
        <% else %>
        <% @feed_items = current_user.feed + Postonce.all %>
        <% end %>
        
        <%= render 'shared/feed' %>
    </div>
</section>
<section class="hot-users">
    <h2> Bà con tích cực </h2>
    <% @hots = User.all.sort_by { |u| -u.products.count } %>
    <% @tops = @hots.length >= 4 ? @hots[0..3] : @hots %>    
    <div class="users">
      <% @tops.each do |user| %>
      <section>
          <div class="ava">            
              <% if user.picture? %>
              <%= image_tag user.picture.url %>
              <% else %>
              <%= image_tag('wolf.jpg', alt: 'wolf') %>
              <% end %> 
          </div>
          <p><%= link_to user.name, user %>
           <% @user = user %>



            <%= render 'shared/stats' %>
            đang bán <%= @user.products.count %>    sản phẩm <br> 
            và có <%= @user.microposts.count %> tản văn.

<% if logged_in? %>

            <% unless current_user?(@user) %>
<% if current_user.following?(@user) %>
<%= render "users/unfollow" %>
<% else %>
<%= render "users/follow" %>
<% end %>
<% end %>
   <% end %>
        </p>


    </section>
    <% end %>
</div>
</section>

<section class="hot-news">
    <h2> Bà con chú ý </h2>
    <% if !logged_in? %>
    <% user = User.find_by(admin: true) %>
    <% @feed_news = user ? user.feednews : [] %>
    <% else %>
    <% @feed_news = current_user.feednews %>
    <% end %>
    <div class="news">
    <%= render 'shared/feed_news' %>
</div>
</section>