<%= provide(:title, "Đăng nhập") %>
<div class="row">
        <div class="col-md-12">
            <p> Mời bà con đăng nhập:
            </p>

            <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>

            <%= f.label :password, "Mật khẩu" %> 
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Ghi nhớ tôi</span>
            <% end %>


            <%= f.submit "Đăng nhập", class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div>