<section>
	<div class="product">
<%= image_tag postonce.picture.url if postonce.picture? %>
</div>
<p>
<%= postonce.content %>
 | <%= link_to "xóa", postonce, method: :delete,
                                       data: { confirm: "Chắc chứ?" } %>
 </p>

</section>