<div class="comment">
<p> <%= link_to comment.user.name, comment.user %>
	: <%= comment.content %>
	<% if current_user?(comment.user) %>
	| <%= link_to "xóa", comment, method: :delete,
               data: { confirm: "Chắc chứ?" } %>
    <% end %>
</p>
</div>