<% provide(:title, 'Tất cả bà con') %>
<h2>Tất cả bà con</h2>
<div class="users">
  <% @users.each do |user| %>
  <section>
    <div class="ava">


      <% if user.picture? %>
      <%= image_tag user.picture.url %>
      <% else %>
      <%= image_tag('wolf.jpg', alt: 'wolf') %>
      <% end %> 

    </div>
    <div>
      <p><%= link_to user.name, user %><br>
        <%= render 'shared/stats' %>
đang bán <%= @user.products.count %>    sản phẩm <br> 
và có <%= @user.microposts.count %> tản văn.

      </p>

      <% if logged_in? %>
      <%  @user = user %>
      <%= render 'follow_form' %>

      <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "xóa", user, method: :delete,
      data: { confirm: "Chắc chứ?" } %>
      <% end %>
      <% end %>
    </div>
  </section>
  <% end %>

</div>