<% provide(:title, 'Đăng ký') %>
<% provide(:button_text, 'Đăng ký') %>
<h2> Đăng ký </h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Tên" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'  %>

      <%= f.label :password, "Mật khẩu" %>
      <%= f.password_field :password, class: 'form-control'  %>

      <%= f.label :password_confirmation, "Nhập lại mật khẩu" %>
      <%= f.password_field :password_confirmation, class: 'form-control'  %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>