<% provide(:title, @title) %>
  
<div class="bio">
  <section style="width:20%;"> 
 
   <h2> <%= @user.name %> </h2> 
   <p> hiện đang bán  <%= @user.products.count %>    sản phẩm và có <%= @user.microposts.count %> tản văn. </p>
   <div class="ava">
    <% if @user.picture? %>
    <%= image_tag @user.picture.url %> 
    <% else %>
    <%= image_tag('wolf.jpg', alt: 'wolf') %>
    <% end %> 
  </div>
 <span><%= link_to "xem quán của tôi", @user %></span>
  <%= render 'shared/stats' %>

  <%= render 'follow_form' if logged_in? %>

</section>


  
      <% if @users.any? %>
          <% @users.each do |user| %>
          <section style="width:20%;">
            <div class="ava">
    <% if user.picture? %>
    <%= image_tag user.picture.url %> 
    <% else %>
    <%= image_tag('wolf.jpg', alt: 'wolf') %>
    <% end %> 
            </div>
            <%= link_to user.name, user %>
          </section>
          <% end %>
          <% end %>
    
    