<% provide(:title, @user.name) %>
<% provide(:button_text, 'Cập nhật') %>
<div class="bio">
  <section> 
   <h2>Kính chào bà con, </h2> 
   <p> <%= @user.name %>  hiện đang bán  <%= @user.products.count %>    sản phẩm và có <%= @user.microposts.count %> tản văn. </p>
   <div class="ava">
    <% if @user.picture? %>
    <%= image_tag @user.picture.url %> 
    <% else %>
    <%= image_tag('wolf.jpg', alt: 'wolf') %>
    <% end %> 
  </div>
  <%= render 'shared/stats' %>

  <%= render 'follow_form' if logged_in? %>

</section>

<% if current_user?(@user) %>

<section>

	<h2> Thêm sản phẩm mới  </h2>

  <%= render 'shared/product_form' %>

<h2> Hay là viết chút tản văn?</h2>
<%= render 'shared/micropost_form' %>
</section> 


<section>
	<h2> Thông tin cá nhân  </h2>
  <div class="row">
    <div class="col-md-12">

      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Tên" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'  %>

      <%= f.label :password, "Mật khẩu" %>
      <%= f.password_field :password, class: 'form-control'  %>

      <%= f.label :password_confirmation, "Nhập lại mật khẩu" %>
      <%= f.password_field :password_confirmation, class: 'form-control'  %>

      <%= f.label :picture, "Đổi ảnh đại diện" %>
      <%= f.file_field :picture %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</section>
<% end %>

<% if @user.products.any? %>
<%= render @products %>
<% end %>

<% if @user.microposts.any? %>
<%= render @microposts %>
<% end %>
</div>
