<%= form_for(@comment, :url => {:controller=>"comments",:action=>"create"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :micropost_id, @micropost_id %>

  
    <%= f.text_area :content, placeholder: "Sao?" %>
  <%= f.submit "Đăng", class: "btn btn-primary" %>

<% end %>