<% if object.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    Đơn bạn vừa nhập có <%= object.errors.count %> lỗi. Vui lòng kiểm tra.
  </div>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
    <% end %>
  </ul>
</div>
<% end %>
