<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.label :header, "Tiêu đề:" %>
      <%= f.text_field :header, class: 'form-control' %>
<div>

	<%= f.label :content, "Nội dung:" %><br>
  <%= f.text_area :content, placeholder: "Heminway trong 500 chữ cái..", size: '23x10' %>

</div> 
<%= f.label :name, "Thêm hình:" %>
<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'file'  %>
<%= f.submit "Đăng tản văn", class: 'btn btn-primary' %>
<% end %>
