<%= form_for(@product) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div>
  <%= f.text_area :content, placeholder: "Giá tiền, điện thoại liên hệ.." %>
</div> 
<%= f.label :name, "Thêm hình:" %>
<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'file'  %>
<%= f.submit "Đăng sản phẩm", class: 'btn btn-primary' %>
<% end %>
