<% @user ||= current_user %>
<p><a href="<%= following_user_path(@user) %>">
  đang đợi tin <%= @user.following.count %> người
  
</a><br>
<a href="<%= followers_user_path(@user) %>">
  có <%= @user.followers.count %>
  người đợi tin
</a>
</p> 