<section>
<h2><%= micropost.header %></h2>
    <%= image_tag micropost.picture.url if micropost.picture? %>

<p><%= markdown(micropost.content) %></p>
<p> Tác giả: <%= link_to micropost.user.name, micropost.user %>
	<% if current_user?(micropost.user) %>
      | <%= link_to "xóa", micropost, method: :delete,
               data: { confirm: "Chắc chứ?" } %>
    <% end %>
</p>
<p> <%= micropost.comments.count %> bình luận</p>

<% @micropost_id = micropost.id %>
<% if logged_in? %>
<%= render 'shared/comment_form' %>
<% end %>
 <% @comments = micropost.comments.all %>
<%= render @comments %>
</section>