@import "bootstrap-sprockets";
@import "bootstrap";
 
@import url('https://fonts.googleapis.com/css?family=Coiny|Merriweather:700i&subset=vietnamese');


$dark-red: #d11d1d;
$dark-beige: #ecb573;
$light-beige: #ffe6a3;
$light-greenish-grey: #879163;
$dark-greenish-grey: #3c3115;


* {
	box-sizing: border-box;
}

body {
	font-family: sans;
	color: $dark-greenish-grey;
	font-size: 1.5vw;}

a {
	font-weight: bold;
	font-size: 1.5vw;
	padding: 1%;
	&:hover {
	background-color: $dark-beige;
	}
	font-family: Merriweather, serif;
}

.button {
	padding: 2%;
	background-color: $dark-greenish-grey;
	border: none;
	color: ghostwhite;
	border-radius: 10%;
	&:hover {
	background-color: $light-greenish-grey;
	}
}


header {
	text-align: center;
	
	padding: 2%;
	background-color: $dark-red;
	a:link, a:visited, a:active {
	font-family: Coiny, cursive;
	color: ghostwhite;
	font-size: 4vw;
	}	
}
nav {
	text-align: center;
	font-family: Merriweather, serif;
	padding: 1%;
	background-color: $dark-red;
	a:link, a:visited, a:active {
	color: ghostwhite;
	font-size: 2vw;
	}		
}


main {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + main {
	padding-top: 60px;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $dark-red;
    opacity: 0.8;
    color: ghostwhite;
    cursor: pointer;
    padding: 15px;
    border-radius: 5%;
    font-size: 1.5rem;
}

#toTop:hover {
    opacity: 0.9;
}
h2 {
	color: $dark-greenish-grey;
	font-weight: bold;
	font-family: Merriweather, serif;
	text-align: center;

}


.ava img {

	border-radius: 50%;
}
.product img {
	border-radius: 2%;
}

img {
	width: 100%;

}
.banner{
	display:flex;
	flex-flow: row wrap;
	
	justify-content: space-around;
	.notice, .once, .login{
	width: 30%;
	padding: 1%;
	line-height: 1.5;
	}
}
section {
padding: 1%;	
}

.checkbox {
  margin-left: 20px;
  span {
    
    font-weight: normal;
  }
}

.hot-products, .hot-news {
	border: 2px dotted $dark-red;

}

.bio {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	section {
	line-height: 1.5;
	width: 31%;
	padding: 1%;
	border: 2px dotted $dark-greenish-grey;
	margin: 1%;
	border-radius: 5%;
	}
	
}
.file {
	margin: auto;
}
.gravatar {
	border-radius: 50%;
	width: 50%;
	}
#error_explanation {
	color: $dark-red;
	ul {
	color: $dark-red;
	margin: 1%;
	}
}
.users {
  display: flex;
  flex-flow: row wrap;
  section {
  width: 24%;
  padding: 1%;
  div {
  text-align: center;
  }
  }
}

.homefeed {
	display: flex;
	flex-flow: row wrap;
	section {
	width: 24%;
	padding: 1%;
	
	p {
	text-align: center;
	}
	}

}
.news {
	display: flex;
	flex-flow: row wrap;
	img {
	border-radius: 2%;
	}
	section{
	border-bottom: 1px solid $dark-greenish-grey;
	width: 32%;
	padding: 1%;
	}
}

.comment {
margin-top: 2%;
	padding-top: 1%;
	border-top: 1px solid $light-greenish-grey;
	}

.help {
line-height: 1.5;
font-size: 1.5rem;
	margin: 1% 15%;
	padding: 1%;
	img {
	border: 2px solid $dark-greenish-grey;
	padding: 1%;
	margin: 5%;
	}
	.small {
	width: 60%;
	}
	
}

@media (max-width: 900px) {

	nav {a:link, a:visited, a:active {
	font-size: 5vw;
	}}
	header {
	a:link, a:visited, a:active {
	font-size: 10vw;
	}
	}
	a {
	font-size: 4vw;
	}
body {
	font-size: 3vw;
}
.banner {
	.notice, .once, .login {
	width: 98%;
	border-bottom: 1px solid $light-greenish-grey;
	}
}
.users {
section {
	width: 48%;
}	
}

.hot-products {
	section {
	width: 48%;
	}
}
.hot-news {
	section {
	width: 98%;
	}
}
.help {
	margin: 1%;
}

.bio {
	section{
	width: 98%;
	}
}
}

