<section>
	<div class="product">
<%= image_tag product.picture.url if product.picture? %>
</div>
<p>
	<%= link_to product.user.name, product.user %> | 
<%= product.content %>
<% if current_user?(product.user) %>
      | <%= link_to "xóa", product, method: :delete,
               data: { confirm: "Chắc chứ?" } %>
    <% end %>
</p>
</section>
