<nav>

<% if logged_in? %>
	<%= link_to "Tất cả bà con", users_path %>
	<%= link_to "Quán của tôi", current_user %>
	<%= link_to "Thoát", logout_path, method: :delete %>
<% end %>

<%= link_to "Hướng dẫn", help_path %>



</nav>
